# Environment variables and settings
.env
.azure_settings.json
.environement.ini
.venv

# Temporary files and backup artifacts
*.bak
*.cvs
*.csv
*.xlsm
*.xlsx
*.eps
*.jpg

garbage
old
blobstorage
session_cache/
README_UTILS.md

storage/*
*.zip

test/data/*.py
test/results/*


# Python-specific exclusions
__pycache__/
*.pyc
*.pyo
.venv/
build/
dist/

# Logs
*.log

# Ignore IDE/editor-specific files
*.vscode/
*.idea/
.DS_Store

# Ignore Azure deployment temporary files
zipdeploy/

